<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% for user in users %}
        {% filter upper %}

            {% if user.pk > 2 %}
                {% if user.pk < 5 %}
                    {{user.name}} - {{user.pk}}
                    <br>
                {% endif %}
            {% endif %}

        {% endfilter %}
    {% endfor %}
</body>
</html>